<h3 class="text-center mb-3">
  <b>CI/CD Pipeline</b>
</h3>
<p class="text-justify mb-3 fs-5">
  I built my projects with Docker. I automated the build and subsequent pushing
  of Docker images to Amazon Elastic Container Registry using GitHub Actions. I
  chose PostgreSQL for the database. All my projects are set up on a Kubernetes
  cluster that I manage myself, using the RKE2 Kubernetes engine. I also
  automated the setup of this Kubernetes cluster using Ansible.
</p>
<img
  src="/assets/images/ci-cd.png"
  class="mx-auto d-block img-fluid mb-3"
  alt="CI CD image"
/>
