<div class="d-flex flex-column">
  <div class="p-2">
    <span class="fs-4 fw-bold">
      <img
        class="rounded-circle img-fluid d-none d-md-inline"
        src="{{ profilePicture }}"
        style="max-width: 60%"
        alt="{{ title }}"
      />
      <img
        class="rounded-circle img-fluid d-inline d-md-none"
        src="{{ profilePicture }}"
        style="max-width: 50%"
        alt="{{ title }}"
      />
    </span>
  </div>
  <div class="p-2">
    <span class="fs-3 fw-bold">{{ title }}</span>
  </div>
</div>
<div class="d-flex flex-lg-column flex-sm-row mb-4">
  <div class="p-1 fs-5">
    <i class="bi bi-geo-alt-fill pe-2"></i>
    <span class="d-none d-md-inline">Toronto</span>
  </div>
  <div class="p-1 fs-5">
    <a href="mailto:{{ email }}" class="text-decoration-none">
      <i class="bi bi-envelope-fill pe-2 link-dark"></i>
      <span class="d-none d-none d-md-inline"> Email </span>
    </a>
  </div>
  <div class="p-1 fs-5">
    <a href="{{ linkedin }}" class="text-decoration-none" target="_blank">
      <i class="bi bi-linkedin pe-2 link-dark"></i>
      <span class="d-none d-none d-md-inline"> LinkedIn </span>
    </a>
  </div>
  <div class="p-1 fs-5">
    <a href="{{ github }}" class="text-decoration-none" target="_blank">
      <i class="bi bi-github pe-2 link-dark"></i>
      <span class="d-none d-none d-md-inline"> GitHub </span>
    </a>
  </div>
  <div class="p-1 fs-5">
    <a href="{{ resume }}" class="text-decoration-none" target="_blank">
      <i class="bi bi-file-person pe-2 link-dark"></i>
      <span class="d-none d-none d-md-inline"> Resume</span>
    </a>
  </div>
</div>
