<div class="container custom-container-width">
  <app-header></app-header>
  <div class="row">
    <div class="col-sm-3">
      <app-side-bar></app-side-bar>
    </div>
    <div class="col-sm-9">
      <ng-template #loading>
        <div class="d-flex justify-content-center mt-3">
          <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
      </ng-template>
      <router-outlet></router-outlet>
    </div>
  </div>
  <app-footer> </app-footer>
</div>
