<div *ngIf="isLoading$ | async; else content">
  <app-loading></app-loading>
</div>

<ng-template #content>
  <div *ngIf="employeeNotFound" class="alert alert-danger mt-3">
    Employee not found!
  </div>
  <div *ngIf="apiError" class="alert alert-danger mt-3">
    Failed to fetch employee. Please try again later.
  </div>
  <ng-container *ngIf="!employeeNotFound && !apiError">
    <ng-template #ErrMsgRef let-field="field">
      <div
        class="form-text small text-danger"
        *ngIf="field.invalid && (field.dirty || field.touched)"
      >
        {{ errorMsg }}
      </div>
    </ng-template>
    <h3>
      <b>
        <ng-container *ngIf="!isEditForm">Create</ng-container
        ><ng-container *ngIf="isEditForm">Edit</ng-container> Employee
      </b>
    </h3>
    <br />
    <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
      <div class="form-group py-2">
        <label>
          <b>First Name</b>
        </label>
        <input
          type="text"
          formControlName="first_name"
          class="form-control"
          [ngClass]="{
            'is-invalid': isFormFieldInvalid(employeeForm.controls.first_name)
          }"
        />
        <ng-template
          *ngTemplateOutlet="
            ErrMsgRef;
            context: { field: employeeForm.controls.first_name }
          "
        ></ng-template>
      </div>
      <div class="form-group py-2">
        <label>
          <b>Last Name</b>
        </label>
        <input
          type="text"
          formControlName="last_name"
          class="form-control"
          [ngClass]="{
            'is-invalid': isFormFieldInvalid(employeeForm.controls.last_name)
          }"
        />
        <ng-template
          *ngTemplateOutlet="
            ErrMsgRef;
            context: { field: employeeForm.controls.last_name }
          "
        ></ng-template>
      </div>
      <div class="form-group py-2">
        <label>
          <b>Job Title</b>
        </label>
        <input
          type="text"
          formControlName="job_title"
          class="form-control"
          [ngClass]="{
            'is-invalid': isFormFieldInvalid(employeeForm.controls.job_title)
          }"
        />
        <ng-template
          *ngTemplateOutlet="
            ErrMsgRef;
            context: { field: employeeForm.controls.job_title }
          "
        ></ng-template>
      </div>
      <div class="d-flex justify-content-between">
        <div class="pt-2">
          <button type="submit" class="btn btn-primary">Submit</button>
          <button
            class="btn btn-secondary"
            routerLink="/crud"
            style="margin-left: 10px"
          >
            Cancel
          </button>
        </div>
        <div class="pt-2">
          <button
            *ngIf="isEditForm"
            type="button"
            class="btn btn-danger"
            (click)="deleteEmployee()"
          >
            Delete
          </button>
        </div>
      </div>
    </form>
  </ng-container>
  <!-- [disabled]="employeeForm.invalid" -->

  <!-- <p>
  Form Status:{{ employeeForm.status }} Form:
  {{ employeeForm.invalid | json }} First Name errors:
  {{ employeeForm.controls.first_name.errors | json }}
  {{ fieldErrors | json }}
</p> -->
</ng-template>
